/***** font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif; *****/

body{
    font-family: 'roboto', sans-serif;
}

/***grid***/ 

.full-width{
    width: 1400px;
    margin: 0 auto;
    overflow: auto;
}

.half-width{
    width: 700px;
    height: 400px;
    float: left;
}

.third-width{
    width: 466.66px;
    float: left;
}


header {
    height: 800px; 
    background: url('../img/hero-image.png');
    background-size: cover;
    background-position: center;
    clear: both;
}

header h1{ 
    margin: 0 auto;
    text-align: center;
    color: #bdbf09;
    padding-top: 345px;
    font-size: 60px;
}
header p{
    text-align: center;
    color: #095256;
    font-size: 48px;
}


/**** MY WORK/PORTFOLIO SECTION****/

#portfolio img{
    padding-left: 100px;
}

#portfolio h3{
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    text-align: center;
    font-size: 36px;
    color: #095256;
    margin: 0 auto;
    padding: 40px 0px 100px 0px;
}

#portfolio h4{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #095256;
    margin: 0 auto;
}

#portfolio p{
    font-family: 'roboto', sans-serif;
    font-size: 24px;
    color: #095256;
    margin: 0 auto;
    padding: 5px 0 5px 0;
} 


/*****ABOUT ME SECTION****/

#about-me{
    background-color: #087e8b;
    height: 650px;
}
#about-me h3{
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    text-align: center;
    font-size: 36px;
    color: #ffffff;
    padding: 40px 0px 95px 0px;
    margin: 0 auto;
}

#about-me h4{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #ffffff;
    margin: 0 auto;
}

#about-me p{
    font-family: 'roboto', sans-serif;
    font-size: 24px;
    color: #ffffff;
    margin: 0 auto;
    padding-top: 5px;
} 

#about-me img{
    padding-left: 100px;
}

/****CONTACT SECTION ****/

#contact{
    background: #095156;
    height: 445px;
    margin: 0 auto;
}

#contact h3{
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    text-align: center;
    font-size: 36px;
    color: #ffffff;
    padding: 40px 0px 95px 0px;
    margin: 0 auto;
}

#contact h4{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #ffffff;
    margin: 0 auto;
    text-align: center;
}

#contact p{
    font-family: 'roboto', sans-serif;
    font-size: 24px;
    color: #ffffff;
    margin: 0 auto;
    padding-top: 5px;
    text-align: center;
    font-weight: normal;
} 

h6{
    font-family: 'roboto', sans-serif;
    font-size: 24px;
    color: #ffffff;
    margin: 0 auto;
    padding-bottom: 10px;
    text-align: center;
    font-weight: bold;
}

#contact ul{
    list-style: none;
    padding-left: 100px;
}

#contact li{
    display: inline-block;
}

#contact ul img{
    padding-right: 50px;
}

footer {
    padding-top: 100px;
    clear:both;
}